*{
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
  font-family: monospace;
}

.container {
  width: 100%;
}


.mid-panel {
  display: flex;
  width: 100%;

}

header {
  background-color: rgb(123, 62, 255);
  padding:1rem;
  border-bottom: 0.2rem solid rgb(62, 26, 139) ;
}

header h2 {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(242, 231, 255);

}
.main-section{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 80vh;

}

.show-action{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
/*Config Scroll*/
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  


}

.action-dialog {
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;
  color: rgb(117, 10, 136);
  font-size: 1.3rem;
  font-size: 600;
  scroll-snap-align: start;
  background-color: rgba(215, 172, 255, 0.445);
}
.browser-dialog {
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;
  color: rgb(95, 39, 218);
  scroll-snap-align: start;
  font-size: 1.3rem;

  background-color: rgba(215, 172, 255, 0.445);
}
.player-dialog {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  color: rgb(0, 0, 0);
  scroll-snap-align: start;

  background-color: rgba(215, 172, 255, 0.445);
}

.player-turn{
  color: black;
  padding: 0 1rem;
  margin: 0 1rem;
  font-size: 1.2rem;
  scroll-snap-align: start;
  background-color: rgba(215, 172, 255, 0.445);
}

.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-around;
	align-items: center;
  align-content: center;

  
  width: 100%;
  border-top: 0.2rem solid rgb(62, 26, 139);
  padding: 1rem 0.5rem;
  display: inline-flex;
  background-color: rgb(123, 62, 255);
}

.mainButtons {
  width: 40%;
}

#resetbtn{
  margin: 0.5rem 0.5rem;
  border: 2px solid rgb(207, 0, 0);
  background-color: rgb(52, 34, 93);
  color: rgb(207, 0, 0);

}

#startbtn{
  margin: 0.5rem 0.5rem;
  border: 2px solid 
  rgb(0, 186, 211);
  background-color: rgb(52, 34, 93);
  color: rgb(0, 186, 211);

}

.inGameButtons {
  width: 60%;
}

button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-stretch: ultra-expanded;
  font-size: 1.1rem;
  margin: 0.5rem 0.9rem;
  border-radius: 1rem;
  border-style: none;
  background-color: rgb(227, 254, 255);
  padding: 0.5rem 1rem;
  color:black;
}

.side-panel {
  width: 30%;
  background-color: rgb(242, 227, 255);

  border-left: 4px solid rgb(165, 125, 200);
  padding:1rem

}


.player-name{
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color:rgb(206, 151, 255);
}