<div class="form-container">

  <form action="/auth/changepass" method="post">

    <label for="pass">Contraseña</label>
    <input type="password" name="pass" id="pass">

    <label for="confirmPass">Repetir Contraseña</label>
    <input type="password" name="confirmPass" id="confirmPass">


    <button id="login-btn" type="submit">Confirmar</button>

    {{#if message}}
    <p class="message-{{message.class}}"> {{message.text}}</p>
    {{/if}}

  </form>

  <a href="/adventure/home">Volver a Home</a>

</div>