<div class="login-input">

  <form action="/login" method="post">
    <label for="user">Nombre</label>
    <input type="text" name="user" id="user">

    <label for="pass">Contraseña</label>
    <input type="password" name="pass" id="pass">

    <input type="submit" value="Log In">

    {{#if msg}}
    <p class="message-{{message.class}}"> {{message.text}}</p>
    {{/if}}

  </form>
  
  <a  href="/signup">¿No tienes una cuenta?</a>

</div>