<h4>¿Que aventura vas a jugar?</h4>
<section class="adventureSearch">

<h4>Buscador:</h4>
{{#each adventures}}

<article class="preview">

<h4> {{this.name}} </h4> 
<div class="imgPreview">
<img height="100" src="/img/{{this.showPic}}" onclick="viewAdventure({{this.id}})">
<div>

</article>

{{/each}}


</section>

<script>

  function viewAdventure(id) {
    window.location.href = `/adventures/${id}` ;
  }
</script>