*{
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
  font-family: monospace;
}

.container {
  padding: 1rem;
}

.banner {
  padding: 1.5rem;
  background-color: rgb(187, 140, 250);
}

.banner h2 {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(242, 231, 255);

}

.login-input {
  background-color:rgb(200, 166, 235);
  position: relative;
  border: 5px solid rgb(189, 138, 240) ;
  margin: 2rem auto;
  width: 40%;


  /* box-shadow: 0.5rem 0.5rem 0.5rem 0 rgb(73, 0, 73); */
}

form {

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: stretch;

}

label{
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

input[type=submit]{
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem auto;
  background-color: rgb(235, 219, 253);
  padding: 0.7rem;
  border-radius: 1rem;
}

.message-failure {
  width: 50%;
  text-align: center;
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: rgb(250, 110, 110);
  color: rgb(112, 11, 11);
  margin: auto;
}

.message-success {
  width: 50%;
  text-align: center;
  font-size: 1.1rem;
  padding: 0.5rem;
  background-color: rgb(126, 250, 110);
  color: rgb(16, 82, 4);
  margin: auto;
}

.signUpLink {

  text-align: center;
  margin: 1rem auto;
  color: blue;
  font-size: 0.8rem;
}

a{
  padding: 1rem 0 ;
  display: block;
  text-align: center;
}