.gamePlaying{
  padding:0.2rem;
  background-color: rgb(192, 147, 212);
  color: #fdfdfd;
  text-align: center;
}


.main-section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 78vh;
}

.userTurn {
  margin: auto;
  padding: 2rem;
  width: 80%;
  border-radius: 1rem;

  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  background-color: rgb(185, 100, 255) ;
}

.browser-dialog {
  text-align: center;
  font-size: 1.3rem;

  margin: 1rem auto;
  background-color: rgb(185, 100, 255);
}

.browser-dialog h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;

}

.player-turn{
  color: black;
  padding: 0 1rem;
  margin: 0 1rem;
  background-color: rgba(215, 172, 255, 0.445);

  text-align: center;
  font-size: 1.2rem;

}

.action-dialog {
  padding: 1rem;
  margin: 1rem 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(168, 75, 255);

  text-align: center;
  font-size: 1.3rem;
  font-size: 400;
}

.dice-result-success{
  color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: 400;
  scroll-snap-align: start;
  background-color: rgb(71, 223, 164);
}

.dice-result-fail{
  color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.5rem;
  font-weight: 400;
  scroll-snap-align: start;
  background-color: rgb(255, 115, 115);
}



/***** FOOTER, BOTONERA *****/
.buttons {
  position: fixed;
  bottom: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: center;
  align-content: center;

  
  width: 100%;
  padding: 0.5rem 0.5rem;
  display: inline-flex;
  background: rgb(177,4,255);
  background: linear-gradient(0deg, rgba(177,4,255,1) 0%, rgba(118,25,159,1) 84%, rgba(81,1,112,1) 100%);
}

.mainButtons {
  width: 40%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

#resetbtn{
  margin: 0.5rem 0.5rem;
  background-color: rgb(67, 47, 112);
  color: #ffffff;

}

#startbtn{
  margin: 0.5rem 0.5rem;
}
/***** RELOJ *****/
#timer {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 1rem;
  color: #ffffff;

}

.inGameButtons {
  width: 60%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;

}

button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-stretch: ultra-expanded;
  font-size: 1.1rem;
  margin: 0.5rem 0.5rem;
  border-radius: 1rem;
  border-style: none;
  background-color: rgb(227, 254, 255);
  padding: 0.5rem 1rem;
  color:black;
}