*{
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
  font-family: monospace;
}

.container { width: 100%; }

.navBar{
  padding: 1.5rem;
  background-color: rgb(187, 140, 250);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{ list-style: none; }

a {
  text-decoration: none;
  color: #000000;
}

.navList {
  display: flex;
  justify-content: space-around;
}

.navList li {
  padding: 0 1rem;
  font-size: 1.2rem;
}

.navBar h2 {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(242, 231, 255);

}

.mid-panel {
  display: flex;
  width: 100%;
}

.main-section{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.show-action{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  height: 78vh;
/*Config Scroll*/
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.action-dialog {
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;
  color: rgb(117, 10, 136);
  font-size: 1.3rem;
  font-size: 600;
  scroll-snap-align: start;
  background-color: rgba(215, 172, 255, 0.445);
}
.browser-dialog {
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;
  color: rgb(95, 39, 218);
  scroll-snap-align: start;
  font-size: 1.3rem;

  background-color: rgba(215, 172, 255, 0.445);
}
.player-dialog {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  color: rgb(0, 0, 0);
  scroll-snap-align: start;

  background-color: rgba(215, 172, 255, 0.445);
}

.player-turn{
  color: black;
  padding: 0 1rem;
  margin: 0 1rem;
  font-size: 1.2rem;
  scroll-snap-align: start;
  background-color: rgba(215, 172, 255, 0.445);
}

.dice-result{
  color: black;
  padding: 0 1rem;
  margin: 0 1rem;
  font-size: 1.2rem;
  scroll-snap-align: start;
  background-color: rgba(167, 109, 221, 0.445);
}

.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: center;
  align-content: center;

  
  width: 100%;
  padding: 0.5rem 0.5rem;
  display: inline-flex;
  background-color: rgb(187, 140, 250);
}

.mainButtons {
  width: 40%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

#resetbtn{
  margin: 0.5rem 0.5rem;
  background-color: rgb(67, 47, 112);
  color: #ffffff;

}

#startbtn{
  margin: 0.5rem 0.5rem;
}

#timer {
  font-size: 1.5rem;
  padding: 0 1rem;

}

.inGameButtons {
  width: 60%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;

}

button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  font-stretch: ultra-expanded;
  font-size: 1.1rem;
  margin: 0.5rem 0.5rem;
  border-radius: 1rem;
  border-style: none;
  background-color: rgb(227, 254, 255);
  padding: 0.5rem 1rem;
  color:black;
}