<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RolGame</title>
  <link rel="stylesheet" href="/css/styleLogged.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>

    <nav class="navBar">

      <h2>Elige tu camino</h2>
      <ul class="navList">
        <li> <a href="/adventure/home">HOME</a> </li>
        <li>
          <p>{{user.username}}</p>
        </li>
        <li> <a href="/auth/logout"> Cerrar Session </a> </li>
      </ul>

    </nav>

  </header>

  {{{body}}}

  <script src="/js/script.js"></script>
  <script src="/js/mainButtons.js"></script>
  <script src="/js/ingameButtons.js"></script>

</body>

</html>